.full-height {
  min-height: 100vh;
}

.badge-public {
  @extend .badge-success;
}

.badge-private {
  @extend .badge-warning;
}

.badge-draft {
  @extend .badge-danger;
}

.btn-public {
  @extend .btn-success;
}

.btn-private {
  @extend .btn-warning;
}

.btn-draft {
  @extend .btn-danger;
}

.solder-card {
  margin-top: 0.5rem;
}

.solder-card .card-header {
  background-color: #3097d1;
  color: #fff;
}

.w-1 {
  width: 1% !important;
}